.h1Inicio{
    animation-name: aparecer;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
.imgInicio{
    animation-name: aparecer;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.textoInicio {
    animation-name: aparecer;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

.social_item:hover {
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}