.boton_form {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.7rem;
    .enviar {
        display: inline-block;
        padding: 0.375rem 1rem;
        background-color: black;
        border-radius: 0.25rem;
        justify-content: center;
        margin: 4px;
        text-align: center;
        border: $borde_solid_transp;
        vertical-align: middle;
        font-weight: 500;
        color: white;
    }
}

.contacto {
    .form_contacto {
        background-color: $bg_form;
        border-radius: 0.5rem;
        .correo {
            padding-top: 0.8rem;
        }
        .form-label {
            font-family: $fuente_form;
            color: black;
            font-weight: 1000;
        }
    }
}