@media (max-width: 576px) {
    .just {
        text-align: center;
    }
    .textoInicio {
        max-width: 90%;
    }
    .imgInicio {
        width: 90%;
    }
    .ftr-sz-sm {
        font-size: x-small;
    }
}

@media (max-width: 767px) {
    .just {
        text-align: center;
    }
    .img_prod {
        width: 50%;
    }
    .redesDesk {
        display: none;
    }
}

@media (min-width: 767px) {
    .img_prod {
        width: 70%;
    }
    .redesMobile {
        display: none;
    }
}