@media (max-width: 576px) {
    .just-der-sm {
        text-align: right;
    }
    .textoInicio {
        max-width: 90%;
    }
    .imgInicio {
        max-width: 90%;
    }
    .ftr-sz-sm {
        font-size: x-small;
    }
    /*
    .body {
        min-height: 100vh;
    }
    .header {
        min-height: 30vh;
    }
    .main {
        min-height: 70vh;
    }*/
}