$fuente_navegador: franklin gothic medium;
$fuente_nav_size: 1.25rem;
$fuente_logo: 'Ms Madi';
$fuente_logo_size: 1.5rem;
$fuente_logo_style: italic;
$fuente_h1: franklin gothic medium;
$fuente_h1_size: 1rem;
$fuente_h1_style: italic;
$fuente_footer_color: rgba(0, 0, 0, 0.384);
$bg_nav: rgba(148, 18, 6, 0.962);
$bg_body: rgba(148, 18, 6, 0.189);